<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        {{>header}}
        <h1>{{statusCode}}</h1>
        <p>{{description}}</p>
    </div>
    {{>footer}}
</body>
</html>